/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}
.tooltip .tooltiptext {
  visibility: hidden;
  padding: 50%;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  bottom: 150%;
  right: -150%;
  position: absolute;
  z-index: 1;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}
.mid-section {
  display: flex;
  width: 100%;
  height: 90.7vh;
}
.viewport {
  width: 76%;
}
.top-bar {
  background-color: #181818;
  height: 4.5vh;
}
.navigation-bar {
  width: 10.3%;
  background-color: #121212;
}
.navigation-bar .fa-ellipsis-h {
  color: white;
  font-size: 2rem;
  margin: 10%;
}
.navigation-bar a,
.navigation-bar h3 {
  color: #B3b3b3;
}
.navigation-bar a {
  font-size: 1.5rem;
  text-decoration: none;
}
.navigation-bar a:hover {
  color: white;
}
.page-links,
.lib-links,
.playlist-links {
  display: flex;
  flex-direction: column;
}
.page-links {
  height: 17%;
  padding: 4% 5%;
}
.page-link {
  color: white;
  display: flex;
  margin: 5% 0;
}
.page-link i,
.page-link a {
  font-size: 1.7rem;
}
.page-link i {
  margin-left: 7%;
}
.page-link a {
  font-weight: bold;
  width: 100%;
}
.lib-and-playlist-links {
  border-bottom: 1px solid #B3b3b3;
  height: 44.9%;
  overflow-y: scroll;
  padding: 2% 0 2% 10%;
}
.lib-and-playlist-links a {
  font-size: 1.7rem;
  font-weight: bold;
  margin: 4.5% 0;
}
.lib-and-playlist-links h3 {
  font-size: 1.3rem;
}
.lib-and-playlist-links .lib-links,
.lib-and-playlist-links .playlist-links {
  margin-bottom: 16%;
}
.add-playlist-btn {
  width: 100%;
  color: #B3b3b3;
  background-color: #121212;
  border: none;
  height: 7.6%;
  text-align: left;
  display: flex;
  align-items: center;
}
.add-playlist-btn i {
  padding: 0 2%;
  font-size: 2.4rem;
  margin: 0 2%;
}
.add-playlist-btn:hover {
  color: white;
}
.album-cover {
  width: 100%;
}
.friends-activity-bar {
  width: 13.7%;
  background-color: #121212;
  padding: 1%;
}
.friends-activity-bar h2 {
  font-size: 2rem;
  color: white;
  border-bottom: 1px solid #282828;
}
.controls-bar {
  width: 100%;
  height: 9.3vh;
  padding: 0.8%;
  background-color: #282828;
  display: flex;
  align-items: center;
}
.controls-bar .song-info {
  display: flex;
  flex-direction: column;
  width: 20%;
}
.controls-bar a {
  text-decoration: none;
}
.controls-bar .name-and-heart {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 3%;
}
.controls-bar .name-and-heart .song-name {
  color: white;
  border-bottom: 1px solid transparent;
  margin-right: 3%;
  font-size: 1.4rem;
}
.controls-bar .name-and-heart .song-name:hover {
  text-decoration: underline;
}
.controls-bar .name-and-heart i {
  color: white;
  font-size: 1.5rem;
}
.controls-bar .artist-name {
  color: #B3b3b3;
  border-bottom: 1px solid transparent;
  font-size: 1.2rem;
}
.controls-bar .artist-name:hover {
  text-decoration: underline;
  color: white;
}
.controls-bar .controls {
  border: 1px solid white;
  width: 55.5%;
  height: 80%;
  margin: 0 14.9% 0 6.5%;
}
.controls-bar .controls .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.controls-bar .controls .buttons i {
  color: #B3b3b3;
  font-size: 1.5rem;
  margin: 0 1.8%;
}
.controls-bar .controls .buttons i:hover {
  color: white;
}
.controls-bar .controls .buttons .fa-play-circle {
  font-size: 3rem;
}
.controls-bar .queue-and-audio {
  width: 11%;
  height: 80%;
  display: flex;
  align-items: center;
}
.controls-bar .queue-and-audio i {
  color: #B3b3b3;
  font-size: 1.5rem;
  margin: 0 6%;
}
.controls-bar .queue-and-audio i:hover {
  color: white;
}
.controls-bar .queue-and-audio i:active {
  color: #B3b3b3;
}
.controls-bar .queue-and-audio .volume {
  display: flex;
  align-items: center;
  width: 57%;
}
.controls-bar .queue-and-audio .volume:hover i {
  color: white;
}
.controls-bar .queue-and-audio .volume i:active {
  color: #B3b3b3;
}
.controls-bar .queue-and-audio .volume input {
  width: 100%;
}
