/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}
.tooltip .tooltiptext {
  visibility: hidden;
  padding: 50%;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  bottom: 150%;
  right: -150%;
  position: absolute;
  z-index: 1;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}
.tooltip .tooltiptext-bottom {
  visibility: hidden;
  padding: 50%;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  top: 150%;
  right: -150%;
  position: absolute;
  z-index: 1;
}
.tooltip:hover .tooltiptext-bottom {
  visibility: visible;
}
.mid-section {
  display: flex;
  width: 100%;
  height: 90.7vh;
}
.viewport {
  width: 76%;
}
.top-bar {
  background-color: #181818;
  height: 4.5vh;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top-bar i {
  font-size: 1.6rem;
}
.top-bar .left-side {
  width: 20%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}
.top-bar .left-side .search-bar {
  border-radius: 50px;
  border: none;
  padding: 2%;
}
.top-bar .left-side ::placeholder {
  color: black;
  font-size: 1.4rem;
}
.top-bar .right-side {
  display: flex;
  align-items: center;
  width: 14.5%;
  height: 100%;
  padding-right: 2.3%;
}
.top-bar .right-side .user {
  align-items: center;
  display: flex;
  height: 100%;
  width: 100%;
  margin-right: 10%;
}
.top-bar .right-side .user:hover span {
  text-decoration: underline;
}
.top-bar .right-side .user span {
  font-size: 1.4rem;
}
.top-bar .right-side .user .user-image-cont {
  background-color: white;
  height: 30px;
  width: 30px;
  margin-right: 2%;
  border-radius: 50px;
}
.top-bar .right-side i {
  color: #b3b3b3;
}
.navigation-bar {
  width: 10.3%;
  background-color: #121212;
}
.navigation-bar .fa-ellipsis-h {
  color: white;
  font-size: 2rem;
  margin: 10%;
}
.navigation-bar a,
.navigation-bar h3,
.navigation-bar i {
  color: #b3b3b3;
}
.navigation-bar a {
  text-decoration: none;
}
.page-links,
.lib-links,
.playlist-links {
  display: flex;
  flex-direction: column;
}
.page-links {
  height: 17%;
}
.page-link {
  padding: 2% 0;
  display: flex;
  margin: 3.8% 0;
  border-left: 4px solid transparent;
  color: #b3b3b3;
  font-size: 1.4rem;
  font-weight: bold;
  align-items: center;
}
.page-link:hover {
  color: white;
}
.page-link:hover i {
  color: white;
}
.page-link i {
  font-size: 1.7rem;
  margin: 0 7%;
}
.page-link-active {
  border-left: 4px solid #1ed760;
  color: white;
}
.page-link-active i {
  color: white;
}
.lib-and-playlist-links {
  border-bottom: 1px solid #282828;
  height: 44.9%;
  overflow-y: scroll;
  padding: 2% 0 2% 10%;
}
.lib-and-playlist-links a {
  font-size: 1.4rem;
  font-weight: bold;
  margin: 5.85% 0;
}
.lib-and-playlist-links h3 {
  font-size: 1.1rem;
  letter-spacing: 1px;
}
.lib-and-playlist-links .lib-links,
.lib-and-playlist-links .playlist-links {
  margin-bottom: 16%;
}
.lib-and-playlist-links::-webkit-scrollbar {
  width: 1.8em;
}
.lib-and-playlist-links::-webkit-scrollbar-thumb {
  background-color: #535353;
}
.lib-and-playlist-links::-webkit-scrollbar-button {
  background-color: #121212;
}
.add-playlist-btn {
  width: 100%;
  color: #b3b3b3;
  background-color: #121212;
  border: none;
  border-bottom: 1px solid #282828;
  height: 7.6%;
  text-align: left;
  display: flex;
  align-items: center;
}
.add-playlist-btn i {
  color: #121212;
  background-color: #b3b3b3;
  font-size: 2.4rem;
  margin: 0 2%;
  border: 1px solid #b3b3b3;
  border-radius: 50px;
}
.add-playlist-btn:hover {
  color: white;
}
.album-cover {
  width: 100%;
  overflow: hidden;
  max-height: 23.5%;
}
.friends-activity-bar {
  width: 13.7%;
  background-color: #121212;
  padding: 1%;
}
.friends-activity-bar h2 {
  font-size: 1.85rem;
  font-weight: bold;
  color: white;
  border-bottom: 1px solid #282828;
  padding-bottom: 7%;
  margin-top: 19%;
  margin-bottom: 8%;
}
.friends-activity-bar .friend-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.friends-activity-bar .friend-icon {
  border: 1px solid white;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  overflow: hidden;
}
.friends-activity-bar .friend {
  color: #b3b3b3;
  width: 81%;
}
.friends-activity-bar .friend h4:hover,
.friends-activity-bar .friend p:hover {
  color: white;
  text-decoration: underline;
  cursor: pointer;
}
.friends-activity-bar .friend h4 {
  color: white;
  font-weight: bold;
  font-size: 1.4rem;
}
.friends-activity-bar .friend .name-and-time {
  display: flex;
  justify-content: space-between;
}
.friends-activity-bar .friend .name-and-time span {
  font-size: 1.2rem;
  letter-spacing: 3px;
}
.friends-activity-bar .friend i {
  font-size: 1.5rem;
  color: #121212;
  background-color: white;
  border: 1px solid white;
  border-radius: 50px;
  margin-right: 2%;
}
.friends-activity-bar .friend p {
  font-size: 1.3rem;
}
.friends-activity-bar .friend > * {
  margin: 2.9% 0;
}
.friends-activity-bar button {
  color: white;
  background-color: #151515;
  border: 1px solid #b3b3b3;
  padding: 4% 8%;
  width: 70%;
  border-radius: 20px;
  font-size: 1.1rem;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 20% 15%;
}
.friends-activity-bar button:hover {
  transform: scale(1.07);
  border-color: white;
}
.controls-bar {
  width: 100%;
  height: 9.3vh;
  padding: 0.8%;
  background-color: #282828;
  display: flex;
  align-items: center;
}
.controls-bar i {
  border-bottom: none;
}
.controls-bar .song-info {
  display: flex;
  flex-direction: column;
  width: 20%;
}
.controls-bar a {
  text-decoration: none;
}
.controls-bar .name-and-heart {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 3%;
}
.controls-bar .name-and-heart .song-name {
  color: white;
  margin-right: 3%;
  font-size: 1.4rem;
}
.controls-bar .name-and-heart .song-name:hover {
  text-decoration: underline;
}
.controls-bar .name-and-heart i {
  color: white;
  font-size: 1.5rem;
}
.controls-bar .artist-name {
  color: #b3b3b3;
  font-size: 1.2rem;
}
.controls-bar .artist-name:hover {
  text-decoration: underline;
  color: white;
}
.controls-bar .controls {
  width: 55.5%;
  height: 80%;
  margin: 0 14.9% 0 6.5%;
}
.controls-bar .controls .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.controls-bar .controls .buttons i {
  color: #b3b3b3;
  font-size: 1.5rem;
  margin: 0 1.8%;
}
.controls-bar .controls .buttons i:hover {
  color: white;
}
.controls-bar .controls .buttons .fa-play-circle {
  font-size: 3rem;
}
.controls-bar .queue-and-audio {
  width: 11%;
  height: 80%;
  display: flex;
  align-items: center;
}
.controls-bar .queue-and-audio i {
  color: #b3b3b3;
  font-size: 1.5rem;
  margin: 0 6%;
}
.controls-bar .queue-and-audio i:hover {
  color: white;
}
.controls-bar .queue-and-audio i:active {
  color: #b3b3b3;
}
.controls-bar .queue-and-audio .volume {
  display: flex;
  align-items: center;
  width: 57%;
}
.controls-bar .queue-and-audio .volume:hover i {
  color: white;
}
.controls-bar .queue-and-audio .volume i:active {
  color: #b3b3b3;
}
.controls-bar .queue-and-audio .volume input {
  width: 100%;
}
