/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}
body {
  color: white;
}
.tooltip-custom {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}
.tooltip-custom .tooltiptext {
  visibility: hidden;
  padding: 50%;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  bottom: 150%;
  right: -150%;
  position: absolute;
  z-index: 1;
}
.tooltip-custom:hover .tooltiptext {
  visibility: visible;
}
.tooltip-custom .tooltiptext-bottom {
  visibility: hidden;
  padding: 50%;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  top: 150%;
  right: -150%;
  position: absolute;
  z-index: 1;
}
.tooltip-custom:hover .tooltiptext-bottom {
  visibility: visible;
}
::-webkit-scrollbar {
  width: 1.8em;
  background-color: #181818;
}
::-webkit-scrollbar-thumb {
  background-color: #535353;
}
.green-btn {
  color: white;
  background-color: #1db954;
  border: none;
}
.green-btn:hover {
  background-color: #1ed760;
  transform: scale(1.07);
}
.green-btn:active {
  background-color: #1db954;
  transform: scale(1);
}
.mid-section {
  display: flex;
  width: 100%;
  height: 90.7vh;
}
.viewport {
  width: 76%;
  background-color: #181818;
}
.view-content {
  max-height: 95%;
  overflow-y: scroll;
}
.top-bar {
  background-color: #181818;
  height: 4.5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top-bar i {
  font-size: 1.6rem;
}
.top-bar .left-side {
  width: 19%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}
.top-bar .left-side .search-bar {
  border-radius: 50px;
  border: none;
  padding: 1% 5%;
  width: 65%;
  font-size: 1.4rem;
}
.top-bar .left-side ::placeholder {
  color: black;
}
.top-bar .right-side {
  display: flex;
  align-items: center;
  width: 14.5%;
  height: 100%;
  padding-right: 2.3%;
}
.top-bar .right-side .user {
  align-items: center;
  display: flex;
  height: 100%;
  width: 100%;
  margin-right: 10%;
  cursor: default;
}
.top-bar .right-side .user:hover span {
  text-decoration: underline;
}
.top-bar .right-side .user span {
  font-size: 1.4rem;
  color: white;
}
.top-bar .right-side .user .user-image-cont {
  background-color: white;
  height: 30px;
  width: 30px;
  margin-right: 2%;
  border-radius: 50px;
  overflow: hidden;
}
.top-bar .right-side .user .user-image-cont img {
  width: 100%;
}
.top-bar .right-side i {
  color: #b3b3b3;
}
.navigation-bar {
  width: 10.3%;
  background-color: #121212;
}
.navigation-bar .fa-ellipsis-h {
  color: white;
  font-size: 2rem;
  margin: 10%;
}
.navigation-bar a,
.navigation-bar h3,
.navigation-bar i {
  color: #b3b3b3;
}
.navigation-bar a {
  text-decoration: none;
}
.page-links,
.lib-links,
.playlist-links {
  display: flex;
  flex-direction: column;
}
.page-link-custom {
  width: 100%;
  outline: 0;
  padding: 5.5% 10%;
  display: flex;
  border: none;
  border-left: 4px solid transparent;
  background-color: transparent;
  color: #b3b3b3;
  font-size: 1.4rem;
  font-weight: bold;
  align-items: center;
  cursor: default;
}
.page-link-custom:hover {
  color: white;
}
.page-link-custom:hover i {
  color: white;
}
.page-link-custom i {
  font-size: 1.7rem;
  margin: 0 7% 0 0;
}
.page-link-active {
  border-left: 4px solid #1ed760;
  color: white;
}
.page-link-active i {
  color: white;
}
.lib-and-playlist-links {
  border-bottom: 1px solid #282828;
  height: 71.7%;
  overflow-y: scroll;
  padding: 2% 0 2% 0%;
}
.lib-and-playlist-links .page-link-custom {
  padding: 5.6% 8%;
  font-size: 1.3rem;
  font-weight: bold;
}
.lib-and-playlist-links h3 {
  padding-left: 10%;
  font-size: 1.05rem;
  letter-spacing: 1px;
}
.lib-and-playlist-links .lib-links,
.lib-and-playlist-links .playlist-links {
  margin-bottom: 16%;
}
.lib-and-playlist-links .lib-links a:hover,
.lib-and-playlist-links .playlist-links a:hover {
  color: white;
}
.lib-and-playlist-links::-webkit-scrollbar {
  background-color: #121212;
}
.add-playlist-btn {
  width: 100%;
  color: #b3b3b3;
  background-color: #121212;
  border: none;
  border-bottom: 1px solid #282828;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 9.5%;
  text-align: left;
  display: flex;
  align-items: center;
}
.add-playlist-btn i {
  color: #121212;
  background-color: #b3b3b3;
  font-size: 2.4rem;
  margin: 0 2%;
  border: 1px solid #b3b3b3;
  border-radius: 50px;
}
.add-playlist-btn:hover {
  color: white;
}
.add-playlist-btn:hover i {
  background-color: white;
}
.album-cover {
  width: 100%;
  overflow: hidden;
  max-height: 23.5%;
  display: flex;
  align-items: center;
}
.album-cover img {
  margin: 50% auto;
}
.friends-activity-bar {
  width: 13.7%;
  background-color: #121212;
  padding: 1%;
}
.friends-activity-bar h2 {
  font-size: 1.85rem;
  font-weight: bold;
  border-bottom: 1px solid #282828;
  padding-bottom: 7%;
  margin-top: 19%;
  margin-bottom: 8%;
}
.friends-activity-bar .friend-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.friends-activity-bar .friend-icon {
  border: 1px solid white;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  overflow: hidden;
}
.friends-activity-bar .friend {
  color: #b3b3b3;
  width: 81%;
}
.friends-activity-bar .friend h4:hover,
.friends-activity-bar .friend p:hover {
  color: white;
  text-decoration: underline;
  cursor: pointer;
}
.friends-activity-bar .friend h4 {
  color: white;
  font-weight: bold;
  font-size: 1.4rem;
}
.friends-activity-bar .friend .name-and-time {
  display: flex;
  justify-content: space-between;
}
.friends-activity-bar .friend .name-and-time span {
  font-size: 1.2rem;
  letter-spacing: 3px;
}
.friends-activity-bar .friend i {
  font-size: 1.5rem;
  color: #121212;
  background-color: white;
  border: 1px solid white;
  border-radius: 50px;
  margin-right: 2%;
}
.friends-activity-bar .friend p {
  font-size: 1.3rem;
}
.friends-activity-bar .friend > * {
  margin: 2.9% 0;
}
.friends-activity-bar button {
  color: white;
  background-color: #151515;
  border: 1px solid #b3b3b3;
  padding: 4% 8%;
  width: 70%;
  border-radius: 20px;
  font-size: 1.1rem;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 20% 15%;
}
.friends-activity-bar button:hover {
  transform: scale(1.07);
  border-color: white;
}
.controls-bar {
  width: 100%;
  height: 9.3vh;
  padding: 0.8%;
  background-color: #282828;
  display: flex;
  align-items: center;
}
.controls-bar i {
  border-bottom: none;
}
.controls-bar .song-info {
  display: flex;
  flex-direction: column;
  width: 20%;
}
.controls-bar a {
  text-decoration: none;
}
.controls-bar .name-and-heart {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 3%;
}
.controls-bar .name-and-heart .song-name {
  color: white;
  margin-right: 3%;
  font-size: 1.4rem;
}
.controls-bar .name-and-heart .song-name:hover {
  text-decoration: underline;
}
.controls-bar .name-and-heart i {
  font-size: 1.5rem;
}
.controls-bar .artist-name {
  color: #b3b3b3;
  font-size: 1.2rem;
}
.controls-bar .artist-name:hover {
  text-decoration: underline;
  color: white;
}
.controls-bar .controls {
  width: 55.5%;
  height: 80%;
  margin: 0 14.9% 0 6.5%;
}
.controls-bar .controls .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.controls-bar .controls .buttons i {
  color: #b3b3b3;
  font-size: 1.5rem;
  margin: 0 1.8%;
}
.controls-bar .controls .buttons i:hover {
  color: white;
}
.controls-bar .controls .buttons .fa-play-circle {
  font-size: 3rem;
}
.controls-bar .queue-and-audio {
  width: 11%;
  height: 80%;
  display: flex;
  align-items: center;
}
.controls-bar .queue-and-audio i {
  color: #b3b3b3;
  font-size: 1.5rem;
  margin: 0 6%;
}
.controls-bar .queue-and-audio i:hover {
  color: white;
}
.controls-bar .queue-and-audio i:active {
  color: #b3b3b3;
}
.controls-bar .queue-and-audio .volume {
  display: flex;
  align-items: center;
  width: 57%;
}
.controls-bar .queue-and-audio .volume:hover i {
  color: white;
}
.controls-bar .queue-and-audio .volume i:active {
  color: #b3b3b3;
}
.controls-bar .queue-and-audio .volume input {
  width: 100%;
}
.modal-dialog {
  min-width: 36%;
}
.modal-content {
  margin-top: 44%;
  border-radius: 20px !important;
}
.modal-content .modal-header,
.modal-content .modal-body,
.modal-content .modal-footer {
  background-color: #282828;
  border: none;
}
.modal-content .modal-header {
  border-radius: 10px 10px 0 0;
  color: white;
  display: flex;
  align-items: center;
}
.modal-content .modal-header h5 {
  font-size: 2rem;
  margin-left: 40%;
}
.modal-content .modal-header .close {
  text-shadow: none;
  opacity: 1;
}
.modal-content .modal-header span {
  color: #b3b3b3;
  font-size: 4rem;
  font-weight: 100;
}
.modal-content .modal-header span:hover {
  color: white;
}
.modal-content .modal-body {
  color: #b3b3b3;
}
.modal-content .modal-body form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal-content .modal-body .playlist-form {
  display: flex;
}
.modal-content .modal-body .choose-img {
  width: 220px;
  height: 220px;
  margin: 0 2%;
  background-color: #404040;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: white;
}
.modal-content .modal-body .choose-img i {
  font-size: 5rem;
  margin-bottom: 5%;
}
.modal-content .modal-body .playlist-inputs {
  display: flex;
  flex-direction: column;
  width: 400px;
  font-size: 1.5rem;
}
.modal-content .modal-body .playlist-inputs input {
  padding: 1% 2%;
}
.modal-content .modal-body .playlist-inputs textarea {
  height: 70%;
  resize: none;
  border-radius: 5px;
  padding: 2%;
}
.modal-content .modal-body button {
  background-color: #1db954;
  border: none;
  border-radius: 50px;
  padding: 1.2%;
  font-size: 1.1rem;
  font-weight: bold;
  letter-spacing: 1.2px;
  width: 20%;
  margin-top: 3%;
}
.modal-content .modal-footer {
  border-radius: 0 0 10px 10px;
}
.song-list {
  padding: 0 2.2%;
}
.song-list input {
  width: 100%;
  border: none;
  font-size: 1.45rem;
  background-color: transparent;
  margin-bottom: 1%;
  padding: 0.5%;
  color: white;
}
.song-list input:focus {
  background-color: #404040;
}
.song-list input:hover::placeholder {
  color: white;
}
.song-list p,
.song-list i {
  margin: 0;
  cursor: default;
}
.song-list p:hover,
.song-list i:hover {
  color: white;
}
.song-list .categories {
  color: #b3b3b3;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  letter-spacing: 1px;
  padding-bottom: 0.4%;
  border-bottom: 1px solid #282828;
}
.song-list .categories i {
  font-size: 1.5rem;
}
.song-list .categories .title {
  margin: 0 12% 0 7%;
  padding-right: 18%;
}
.song-list .categories .artist {
  padding-right: 18%;
}
.song-list .categories .album {
  margin-right: 5.5%;
  padding-right: 14.6%;
}
.song-list .categories .date-added {
  margin-right: 5%;
  padding-right: 5%;
}
.song-list .categories .length {
  padding-right: 4%;
}
.song-list .song {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  border-bottom: 1px solid #282828;
  padding: 0.6% 0;
}
.song-list .song:hover {
  background-color: #333333;
}
.song-list .song:hover i {
  visibility: visible;
}
.song-list .song i {
  visibility: hidden;
  font-size: 2.2rem;
  margin-left: 1%;
}
.song-list .song i:hover {
  transform: scale(1.07);
}
.song-list .song a {
  color: white;
}
.song-list .song .title {
  margin: 0 0 0 4.4%;
  width: 32.7%;
}
.song-list .song .artist {
  width: 21.5%;
}
.song-list .song .album {
  width: 23.5%;
}
.song-list .song .date-added {
  width: 12%;
}
.song-list .song .date-added,
.song-list .song .length {
  color: #b3b3b3;
}
.album-songs {
  padding: 2.2% 2.2% 1.5%;
}
.album-songs .categories {
  color: #b3b3b3;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #282828;
  font-size: 1.1rem;
  letter-spacing: 1px;
  padding-bottom: 0.4%;
}
.album-songs .categories i {
  font-size: 1.66rem;
}
.album-songs .categories .track-number {
  margin: 0 5% 0 0.8%;
}
.album-songs .categories .title {
  margin-right: 86%;
}
.album-songs .categories .length {
  margin-right: 1.5%;
}
.album-songs .tracks {
  font-size: 1.5rem;
  color: #b3b3b3;
}
.album-songs .tracks .track {
  position: relative;
  display: flex;
  padding: 1% 0;
  border-bottom: 1px solid #282828;
}
.album-songs .tracks .track:hover {
  background-color: #404040;
}
.album-songs .tracks .track:hover .fa-play-circle {
  visibility: visible;
}
.album-songs .tracks .track:hover .track-number {
  visibility: hidden;
}
.album-songs .tracks .track .fa-play-circle {
  visibility: hidden;
  position: absolute;
  right: 95.8%;
  bottom: 25%;
  font-size: 2.2rem;
  margin-left: 1%;
  color: white;
}
.album-songs .tracks .track .fa-play-circle:hover {
  transform: scale(1.07);
}
.album-songs .tracks .track .track-number {
  margin-left: 0.7%;
  width: 2.6%;
}
.album-songs .tracks .track i {
  margin-right: 2%;
}
.album-songs .tracks .track .name {
  color: white;
  width: 86.5%;
}
.album-songs .tracks .track .length {
  color: #b3b3b3;
}
.get-auth {
  background-color: #121212;
  opacity: 0.7;
  position: absolute;
  width: 100%;
  height: 100vh;
}
.get-auth .cta {
  opacity: 1;
  background-color: #282828;
  border: 1px solid white;
  width: 25%;
  margin: 40vh auto 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 2%;
  border-radius: 20px;
}
.get-auth .cta p {
  margin-bottom: 10%;
  font-size: 2rem;
  font-weight: bold;
}
.get-auth .cta a {
  border-radius: 20px;
  font-size: 2rem;
  padding: 2% 8%;
  width: 50%;
  text-decoration: none;
}
.get-auth .cta a:hover {
  color: white;
}
.top-section {
  padding: 8% 2% 0;
  background: #3e3e3e;
  background: linear-gradient(180deg, #3e3e3e 0%, #181818 100%);
}
.top-section h2 {
  font-size: 4rem;
  font-weight: bold;
}
.top-section nav {
  margin: 2% 0 3%;
  width: 50%;
  display: flex;
  justify-content: space-between;
}
.top-section nav .link {
  cursor: pointer;
  color: #b3b3b3;
  font-size: 1.4rem;
  font-weight: bold;
  border-bottom: 1px solid transparent;
  padding-bottom: 1%;
}
.top-section nav .link:hover {
  color: white;
}
.top-section nav .active {
  color: white;
  border-bottom: 1px solid #1ed760;
}
.top-section h3 {
  font-weight: bold;
  font-size: 1.6rem;
  width: 100%;
  padding-bottom: 0.5%;
  border-bottom: 1px solid #282828;
}
.bottom-section {
  background-color: #181818;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 1% 0;
  min-height: 100%;
}
.bottom-section .genre-card {
  position: relative;
  width: 210px;
  height: 210px;
  margin-bottom: 1.75%;
  margin-left: 1.75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.bottom-section .genre-card:hover {
  cursor: pointer;
}
.bottom-section .genre-card:hover p {
  border-color: white;
}
.bottom-section .genre-card img {
  max-width: 100%;
}
.bottom-section .genre-card p {
  position: absolute;
  top: 70%;
  font-size: 1.5rem;
  font-weight: bold;
  border-bottom: 1px solid transparent;
  padding-bottom: 1%;
}
.playlist-page-header {
  padding: 2.2%;
  background: #3e3e3e;
  background: linear-gradient(180deg, #3e3e3e 0%, #181818 100%);
  display: flex;
}
.playlist-page-header .playlist-img {
  width: 280px;
  height: 220px;
  background-color: white;
}
.playlist-page-header .playlist-img img {
  width: 100%;
}
.playlist-page-header .playlist-info {
  margin: 5% 0 0 1.5%;
  width: 100%;
}
.playlist-page-header .playlist-info .playlist-tag {
  margin-bottom: 0;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 1px;
}
.playlist-page-header .playlist-info h2 {
  font-size: 4rem;
  font-weight: bold;
  cursor: pointer;
}
.playlist-page-header .playlist-info .creator-and-length {
  display: flex;
  font-size: 1.3rem;
  margin: 1% 0;
}
.playlist-page-header .playlist-info .creator-and-length p {
  color: #b3b3b3;
}
.playlist-page-header .playlist-info .creator-and-length span {
  color: white;
  cursor: pointer;
}
.playlist-page-header .playlist-info .creator-and-length span:hover {
  text-decoration: underline;
}
.playlist-page-header .playlist-info .creator-and-length .spacer {
  margin: 0 0.5%;
}
.playlist-page-header .playlist-btns {
  width: 15%;
}
.playlist-page-header .playlist-btns .play-btn {
  background-color: #1db954;
  color: white;
  border: none;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 5% 20%;
  border-radius: 20px;
  width: 65%;
  margin-right: 5%;
  cursor: default;
}
.playlist-page-header .playlist-btns .play-btn:hover {
  transform: scale(1.07);
  background-color: #1ed760;
}
.playlist-page-header .playlist-btns .play-btn:active {
  transform: scale(1);
  background-color: #1db954;
}
.playlist-page-header .playlist-btns .more-btn {
  border: 1px solid #b3b3b3;
  background-color: transparent;
  color: white;
  font-size: 1.5rem;
  border-radius: 50px;
  padding: 3%;
  width: 35px;
}
.playlist-page-header .playlist-btns .more-btn:hover {
  border-color: white;
}
.liked-songs-header {
  padding: 3.1% 2.2% 2.2%;
  background: #3e3e3e;
  background: linear-gradient(180deg, #3e3e3e 0%, #181818 100%);
}
.liked-songs-header h2 {
  font-size: 4.5rem;
  font-weight: bold;
}
.liked-songs-header button {
  background-color: #1db954;
  color: white;
  border: none;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.7% 2.7%;
  border-radius: 20px;
  letter-spacing: 1px;
  margin-top: 2%;
  cursor: default;
}
.liked-songs-header button:hover {
  transform: scale(1.07);
  background-color: #1ed760;
}
.liked-songs-header button:active {
  transform: scale(1);
  background-color: #1db954;
}
.album .album-page-header {
  padding: 2.2%;
  background: #3e3e3e;
  background: linear-gradient(180deg, #3e3e3e 0%, #181818 100%);
  display: flex;
}
.album .image-cont {
  width: 16%;
  height: 220px;
  background-color: white;
}
.album .image-cont img {
  width: 100%;
}
.album .album-info {
  margin: 3.5% 0 0 1.5%;
  color: #b3b3b3;
  width: 50%;
}
.album .album-info .album-tag,
.album .album-info h2,
.album .album-info button {
  color: white;
}
.album .album-info h2 {
  font-size: 4.5rem;
  font-weight: bold;
  margin: 1% 0 2.5%;
}
.album .album-info a {
  color: white;
  margin-left: 1%;
}
.album .album-info .spacer {
  margin: 0 0.5%;
}
.album .album-info p {
  font-size: 1.3rem;
  letter-spacing: 1px;
  margin: 1% 0;
}
.album .album-info .date-and-length {
  display: flex;
  align-items: center;
}
.album .album-info .album-btns {
  margin-top: 2%;
  width: 30%;
  display: flex;
  justify-content: space-between;
}
.album .album-info .album-btns button {
  cursor: default;
}
.album .album-info .album-btns .icon-btn {
  border: 1px solid #b3b3b3;
  border-radius: 50px;
  background: transparent;
}
.album .album-info .album-btns .icon-btn:hover {
  transform: scale(1.07);
  border-color: white;
}
.album .album-info .album-btns .play-btn {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 5% 20%;
  border-radius: 20px;
}
.album .copyrights {
  margin-left: 2.2%;
  font-size: 1.2rem;
  color: #b3b3b3;
}
.album .more-albums {
  padding: 2.2%;
}
.album .more-albums h4 {
  font-size: 1.7rem;
  font-weight: bold;
  width: 100%;
  border-bottom: 1px solid #282828;
  padding-bottom: 0.5%;
  margin-bottom: 2%;
}
.album .more-albums .album-list {
  display: flex;
}
.album .more-albums .album-list .album {
  width: 15.2%;
  margin-right: 1.8%;
}
.album .more-albums .album-list .image-cont {
  width: 100%;
  height: 20.9em;
  cursor: pointer;
}
.album .more-albums .album-list .image-cont:hover {
  opacity: 0.5;
}
.album .more-albums .album-list a {
  color: white;
}
.album .more-albums .album-list .name {
  color: white;
  font-size: 1.3rem;
  font-weight: bold;
  margin: 7% 0 5%;
}
.album .more-albums .album-list .year {
  color: #b3b3b3;
  font-size: 1.2rem;
  letter-spacing: 1.5px;
}
.user .user-header {
  padding: 2.2%;
  background: #3e3e3e;
  background: linear-gradient(180deg, #3e3e3e 0%, #181818 100%);
  display: flex;
  flex-direction: column;
}
.user .user-header .user {
  display: flex;
}
.user .user-header .image-cont {
  overflow: hidden;
  border-radius: 50%;
  width: 9%;
  margin-right: 1.5%;
}
.user .user-header .image-cont img {
  width: 100%;
}
.user .user-header .user-info {
  margin-top: 1%;
}
.user .user-header .user-info span {
  font-size: 1.1rem;
  color: #b3b3b3;
}
.user .user-header .user-info h2 {
  font-size: 4.3rem;
  font-weight: bold;
  margin: 2% 0;
}
.user .user-header nav {
  display: flex;
  justify-content: space-between;
  width: 56%;
  margin-top: 2%;
}
.user .user-header nav a {
  color: #b3b3b3;
  font-size: 1.3rem;
  font-weight: bold;
  letter-spacing: 1px;
  text-decoration: none;
  padding-bottom: 1%;
}
.user .user-header nav a:hover {
  color: white;
}
.user .user-header nav .active {
  border-bottom: 2px solid #1ed760;
  color: white;
}
.audio-bar {
  height: 9.3vh;
  width: 100%;
  background-color: #181818;
}
.audio-bar iframe {
  height: 100%;
  width: 100%;
}
