.no-results {
  text-align: center;
  margin: 20% auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  i {
    font-size: 4rem;
    color: @light-gray;
  }

  p {
    font-weight: bold;
    font-size: 2.8rem;
    margin: 1% 0;
  }

  .small-text {
    color: @light-gray;
    font-size: 1.5rem;
    width: 30%;
    font-weight: normal;
    line-height: 25px;
  }
}

.results {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2.2%;

  .test {
    width: 100%;
    margin-bottom: 5%;
  }

  a {
    text-decoration: none;
    color: white;
  }

  h3 {
    width: 100%;
    font-size: 1.8rem;
    font-weight: bold;
    padding-bottom: 0.6%;
    margin-bottom: 3%;
    border-bottom: 1px solid @dark-gray;
  }

  p {
    font-weight: bold;
    font-size: 1.4rem;
  }

  .light {
    color: @light-gray;
  }

  .search-category {
    width: 49%;
    margin-bottom: 4%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @media @desktop-small {
      width: 45%;
    }

    .group {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;
      height: 80%;
    }

    .song,
    .artist,
    .album,
    .playlist,
    .show,
    .episode {
      width: 48%;
      height: 40%;
      display: flex;
      align-items: center;
      margin-bottom: 5%;
      cursor: pointer;
      &:hover {
        background-color: @dark-gray;
      }
    }

    .song-search-info,
    .album-search-info {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }

    .image-cont {
      width: 65px;
      height: 65px;
      background-color: @light-gray;
      margin-right: 5%;
      overflow: hidden;
      display: flex;
      align-items: center;

      img {
        width: 100%;
      }
    }
  }
}
