.song-list {
  padding: 0 2.2%;

  input {
    width: 100%;
    border: none;
    font-size: 1.45rem;
    background-color: transparent;
    margin-bottom: 1%;
    padding: 0.5%;
    color: white;

    &:focus {
      background-color: @gray;
    }

    &:hover::placeholder {
      color: white;
    }
  }

  p,
  i {
    margin: 0;
    cursor: default;
    &:hover {
      color: white;
    }
  }

  .categories {
    color: @light-gray;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    letter-spacing: 1px;
    padding-bottom: 0.4%;
    border-bottom: 1px solid @dark-gray;

    i {
      font-size: 1.5rem;
    }

    .title {
      margin-left: 7%;
    }
  }

  .title {
    width: 32.7%;
  }

  .artist {
    width: 21.5%;
  }

  .album {
    width: 23.5%;
  }

  .date-added {
    width: 12%;
  }

  .song {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    border-bottom: 1px solid @dark-gray;
    padding: 0.6% 0;
    &:hover {
      background-color: #333333;

      i {
        visibility: visible;
      }
    }

    i {
      visibility: hidden;
      font-size: 2.2rem;
      margin-left: 1%;
      &:hover {
        transform: scale(1.07);
      }
    }

    a {
      color: white;
    }

    .title {
      margin-left: 4.4%;
    }

    .date-added,
    .length {
      color: @light-gray;
    }
  }

  .no-results {
    display: flex;
    font-size: 1.4rem;
    margin-top: 1%;
    color: @light-gray;

    button {
      background-color: transparent;
      border: none;
      color: white;
      margin-left: 1%;
      cursor: default;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
