.mid-section {
  display: flex;
  width: 100%;
  height: 90.7vh;
  background-color: @black;
}

.viewport {
  width: 76%;
  background-color: @darker-gray;
  @media @desktop-mid {
    width: 70%;
  }
}

.view-content {
  max-height: 95%;
  overflow-y: scroll;
}

// top bar styles
.top-bar {
  background-color: @darker-gray;
  height: 4.5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;

  i {
    font-size: 1.6rem;
  }

  .left-side {
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    @media @desktop-mid {
      width: 27%;
    }
    @media @desktop-small {
      width: 34%;
    }

    a {
      margin-left: 2%;
    }

    .search-bar {
      border-radius: 50px;
      border: none;
      padding: 1% 5%;
      width: 91%;
      font-size: 1.4rem;
    }
    ::placeholder {
      color: black;
    }
  }

  .right-side {
    display: flex;
    align-items: center;
    width: 14.5%;
    height: 100%;
    padding-right: 2.3%;

    .user {
      display: flex;
      align-items: center;
      display: flex;
      height: 100%;
      width: 100%;
      margin-right: 10%;
      cursor: default;

      &:hover span {
        text-decoration: underline;
      }

      span {
        font-size: 1.4rem;
        color: white;
      }

      .user-image-cont {
        background-color: white;
        height: 0;
        width: 30px;
        height: 30px;
        margin-right: 2%;
        border-radius: 50px;
        overflow: hidden;

        img {
          width: 100%;
        }
      }
    }

    i {
      color: @light-gray;
    }
  }
}
